﻿{% extends "admin/change_list.html" %}
  
  {% block extrastyle %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {% endblock %}
  {% block result_list %}
   <div id="source-html">
    {% for c in calendario %}
	<table width="100%">
		<thead>
			<th style="text-align: center; background-color:#525F85; color:white">
			PERIODO: {{mes}}/{{c.fecha.year}}
			</th>
		</thead>
	</table>
 	<table width="100%" style="text-align: center; border-1">
	  <thead>
	  	<tr>
		<th style="text-align: center; background-color:#525F85; color:white">Turnos</th>
	  	<th style="text-align: center; background-color:#525F85; color:white"> Lunes </th>
	  	<th style="text-align: center; background-color:#525F85; color:white"> Martes </th>
	  	<th style="text-align: center; background-color:#525F85; color:white"> Miercoles </th>
	  	<th style="text-align: center; background-color:#525F85; color:white"> Jueves </th>
	  	<th style="text-align: center; background-color:#525F85; color:white"> Viernes </th>
	  	<th style="text-align: center; background-color:#525F85; color:white"> Sabado </th>
		<th style="text-align: center; background-color:#525F85; color:white"> Domingo </th>
	  	</tr>
	  </thead>
	  <tr><td>Mañana: g{{semana0.0.1}}<br>Tarde: g{{semana0.1.1}}<br>Noche: g{{semana0.2.1}}<br>Franco: g{{semana0.3.1}}</td>
	  {%if listDay.0.1 != 1 %}<td></td>
	  	 {%if listDay.0.1 != 2 %}<td></td>
	  	 	{%if listDay.0.1 != 3 %}<td></td>
	  	 		{%if listDay.0.1 != 4 %}<td></td>
	  	 			{%if listDay.0.1 != 5 %}<td></td>
	  	 				{%if listDay.0.1 != 6 %}<td></td>
	  					{%endif%}
					{%endif%}
				{%endif%}
		  	{%endif%}
		 {%endif%}
	  {%endif%}

	  {% for day in listDay %}
	  <td id="d{{day.0}}">{{day.0}}</td>{%if day.1 == 7 and day.0 != ultimoDia %}</tr>
	  <tr><td>Mañana:{% if day.2 == 1%} g{{semana1.0.1}} 
						  {%elif day.2 == 2%} {{semana2.0.1}} 
							  {%elif day.2 == 3%} g{{semana3.0.1}}
							  {%elif day.2 == 4%} g{{semana4.0.1}}
							  {%elif day.2 == 5%} g{{semana5.0.1}} 
							  {%endif%} 
		  <br>Tarde: {% if day.2 == 1%} g{{semana1.1.1}} 
		  {%elif day.2 == 2%} g{{semana2.1.1}} 
			  {%elif day.2 == 3%} g{{semana3.1.1}}
			  {%elif day.2 == 4%} g{{semana4.1.1}}
			  {%elif day.2 == 5%} g{{semana5.1.1}} 
			  {%endif%} 
		  <br>Noche: {% if day.2 == 1%} g{{semana1.2.1}} 
		  {%elif day.2 == 2%} g{{semana2.2.1}} 
			  {%elif day.2 == 3%} g{{semana3.2.1}}
			  {%elif day.2 == 4%} g{{semana4.2.1}}
			  {%elif day.2 == 5%} g{{semana5.2.1}} 
			  {%endif%} 
		  <br>Franco: {% if day.2 == 1%} g{{semana1.3.1}} 
		  {%elif day.2 == 2%} g{{semana2.3.1}} 
			  {%elif day.2 == 3%} g{{semana3.3.1}}
			  {%elif day.2 == 4%} g{{semana4.3.1}}
			  {%elif day.2 == 5%} g{{semana5.3.1}} 
			  {%endif%} 
		</td>{%endif%}
	  {% endfor %}
 </table>
<br>
<table width="100%"><thead><th style="text-align: center; background-color:#525F85; color:white">Grupos</th></thead></table>

<table width="100%">
	<thead>
		<tr>
			{% for g in grupos %}
				<th style="text-align: center; background-color:#525F85; color:white"> 
				<b>{{g.0}} </b>
				</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for g in grupos %}
				<td style="text-align: center; border-left:1px solid #ccc; border-right: 1px solid #ccc;">
				{% for h in g %}	
						{%if h != g.0%} 
							{{h.1}}{%if h.0 == 1%}<b>*</b>{%endif%}	<br>
						{%endif%} 
				{% endfor %}	
				</td>	
			{% endfor %}
		</tr>
	</tbody>
</table>
<table width="100%">
	<tr>
		<b><td width="100%" style="text-align: center"><i style="color:black; font-weight: bold;">(*) <U>ATENCIÒN</U>: Personas que se encuentran en más de un grupo</i></td></b>
	</tr>
</table>
</div>
<div class="content-footer">
 {%endfor%}
 
  {% for c in calendario %}
    <button id="btn-export" onclick="exportHTML('GRUPOS-{{c.fecha.month}}/{{c.fecha.year}}');">Imprimir</button>
 {%endfor%}
</div>

<script>
    function exportHTML(name){
       var header = "<html xmlns:o='urn:schemas-microsoft-com:office:office' "+
            "xmlns:w='urn:schemas-microsoft-com:office:word' "+
            "xmlns='http://www.w3.org/TR/REC-html40'>"+
            "<head><meta charset='utf-8'><title>Export HTML to Word Document with JavaScript</title></head><body>";
       var footer = "</body></html>";
       var sourceHTML = header+document.getElementById("source-html").innerHTML+footer;
       
       var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML);
       var fileDownload = document.createElement("a");
       document.body.appendChild(fileDownload);
       fileDownload.href = source;
       fileDownload.download = name+".doc";
       fileDownload.click();
       document.body.removeChild(fileDownload);
    }
</script>
{% endblock %}

{% block pagination %}{% endblock %}