﻿{% extends "admin/change_list.html" %}
  
  {% block extrastyle %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  {% endblock %}
  
{% block result_list %}
 {% for c in calendario %}
 <div id="source-html">
	<table width="100%">
		<thead>
			<th style="text-align: center; background-color:#525F85">
			EMPLEADO: {{c.empleado.apellido}}, {{c.empleado.nombre}} 
			</th>
			<th style="text-align: center; background-color:#525F85">
			PERIODO: {{mes}}/{{c.fecha.year}}
			</th>
		</thead>
	</table>
 	<table width="100%" style="text-align: center; border-1">
	  <thead style="background-color:red; color:white">
	  	<tr>
	  	<th style="text-align: center; background-color: #525F85"> Lunes </th>
	  	<th style="text-align: center; background-color: #525F85"> Martes </th>
	  	<th style="text-align: center; background-color: #525F85"> Miercoles </th>
	  	<th style="text-align: center; background-color: #525F85"> Jueves </th>
	  	<th style="text-align: center; background-color: #525F85"> Viernes </th>
	  	<th style="text-align: center; background-color: #525F85"> Sabado </th>
		<th style="text-align: center; background-color: #525F85"> Domingo </th>
	  	</tr>
	  </thead>
	  <tr style="text-align: center">
	  {%if listDay.0.1 != 1 %}<td></td>
	  	 {%if listDay.0.1 != 2 %}<td></td>
	  	 	{%if listDay.0.1 != 3 %}<td></td>
	  	 		{%if listDay.0.1 != 4 %}<td></td>
	  	 			{%if listDay.0.1 != 5 %}<td></td>
	  	 				{%if listDay.0.1 != 6 %}<td></td>
	  					{%endif%}
					{%endif%}
				{%endif%}
		  	{%endif%}
		 {%endif%}
	  {%endif%}
	  {% for day in listDay %}
	  <td style="text-align: center" id="d{{day.0}}">{{day.0}}<br>{%if day.2 != 0 %}{{day.2}}{%endif%}<br>{%if day.3 != 0 and day.3 != 'No completo E/S' %}{{day.3}} hs {{day.4}} min{%elif day.3 == 'No completo E/S' %}{{day.3}}{%endif%}</td>{%if day.1 == 7 and day.0 != ultimoDia %}</tr>
	  <tr style="text-align: center">{%endif%}
	  {% endfor %}
	  </tr>
 </table>
 {%endfor%}
<br>


<table width="100%">
	<thead>
		<th style="background-color: #525F85; text-align: center; border-left:1px solid #ccc; border-right: 1px solid #ccc;"> Entradas Tarde </th>
		<th style="background-color: #525F85; text-align: center; border-left:1px solid #ccc; border-right: 1px solid #ccc;"> Salidas en el mes</th>
		<th style="background-color: #525F85; text-align: center; border-left:1px solid #ccc; border-right: 1px solid #ccc;"> Horas mensuales</th>
		<th style="background-color: #525F85; text-align: center; border-left:1px solid #ccc; border-right: 1px solid #ccc;"> Dias certificados</th>
	</thead>
	<tbody>
			<td style="text-align: center;"> {{llegadasTar}} <br></td>
			<td style="text-align: center;"> {{recreos}} </td>
			<td style="text-align: center;">{{horas_totales}} hs {{min_totales}} min</td>
			<td style="text-align: center;"> {{cantidadCertificados}}</td>
	</tbody>
</table>

<br>

<table width="100%">
	<thead>
		<td width="10%"></td>
		<th width="35%" style="background-color: #588CF4; text-align: center; border-left:1px solid #ccc; border-right: 1px solid #ccc;"> Llegadas tarde </th>
		<td width="10%"></td>
		<th width="35%" style="background-color: #588CF4; text-align: center; border-left:1px solid #ccc; border-right: 1px solid #ccc;"> Salidas en el mes </th>
		<td width="10%"></td>
	</thead>
	<tbody>
		<td width="10%"></td>
		<td width="35%" style="text-align: center;"> 
			{%ifequal llegadasTar 0%} El empleado no registra llegadas tardes este mes{%endifequal%} 
			{%ifnotequal llegadasTar 0%} {%for t in diasTar%} {{t.id.date}}, entró a las {{t.id.time}} {%endfor%} {%endifnotequal%}</td>
		<td width="10%"></td>
		<td width="35%" style="text-align: center;">
			{%ifequal recreos 0%} No se detectaron salidas durante el trabajo durante este mes{%endifequal%} 
			{%ifnotequal recreos 0%} 
			{%for r in diasRecreo%} 
				{{r.id.date}}<br> 
			{%endfor%} {%endifnotequal%}
		</td>
		<td width="10%"></td>
	</tbody>
</table>




<br>
<table width="100%"><thead ><th style="text-align: center; background-color: #588CF4">Certificados</th></thead></table>
	<table width="100%">
		<thead>
			<tr>
				<th style="background-color: #588CF4; text-align: center; border-left:1px solid #ccc; border-right: 1px solid #ccc;"> Fecha inicio</th>
				<th style=" background-color: #588CF4; text-align: center; border-left:1px solid #ccc; border-right: 1px solid #ccc;"> Fecha fin</th>
				<th style="background-color: #588CF4; text-align: center; border-left:1px solid #ccc; border-right: 1px solid #ccc;"> Descripcion </th>
			</tr>
		</thead>
		{%for c in certificados%}
		{%ifequal c 'No presento certificados este mes'%}
			<tr style="text-align: center;"><td></td><td>{{c}}</td></tr>
		{%else%}
			<tr> 
				<td style="text-align: center; border-left:1px solid #ccc; border-right: 1px solid #ccc;">
					{{c.fechaInicio}}
				</td> 
				<td style="text-align: center; border-left:1px solid #ccc; border-right: 1px solid #ccc;"> {{c.fechaFin}}</td>
				<td style=" border-left:1px solid #ccc; border-right: 1px solid #ccc;"> {{c.descripcion}}</td>
			</tr>
		{%endifequal%}
		{%endfor%}
	</table>
</div>
<div class="content-footer">

 {% for c in calendario %}
    <button id="btn-export" onclick="exportHTML('{{c.empleado.apellido}},{{c.empleado.nombre}}-{{c.fecha.month}}/{{c.fecha.year}}');">Imprimir</button>
 {%endfor%}
</div>

<script>
    function exportHTML(name){
       var header = "<html xmlns:o='urn:schemas-microsoft-com:office:office' "+
            "xmlns:w='urn:schemas-microsoft-com:office:word' "+
            "xmlns='http://www.w3.org/TR/REC-html40'>"+
            "<head><meta charset='utf-8'><title>Export HTML to Word Document with JavaScript</title></head><body>";
       var footer = "</body></html>";
       var sourceHTML = header+document.getElementById("source-html").innerHTML+footer;
       
       var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML);
       var fileDownload = document.createElement("a");
       document.body.appendChild(fileDownload);
       fileDownload.href = source;
       fileDownload.download = name+".doc";
       fileDownload.click();
       document.body.removeChild(fileDownload);
    }
</script>
{% endblock %}}}

{% block pagination %}{% endblock %}