{% extends "admin/change_list.html" %}
  
  {% block extrastyle %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% endblock %}
  
{% block result_list %}


<a>Calendarios Grupales</a>
<div class=”results”>

    <table class="table table-hover">
        <thead>
            <th style="text-align: center">
            <div class=”text”>
              <a href=”#”>Fecha</a>
            </div>
          </th>
          <th style="text-align: center"></th>
          <th style="text-align: center"></th>
          <th style="text-align: center"></th>
        </tr>
      </thead>
    <tbody>
        {% for calendarioG in listCalendarioG %}
        <tr>
          <td style="text-align: center"> {{calendarioG.fecha}}</td>
          <td><a href="../calendariogrupal/{{calendarioG.id}}/change/"><i class="fas fa-pen"></i>Editar</a></td>
          <td><a href="../calendariogrupal/{{calendarioG.id}}/delete/"><i class="fas fa-close"></i>Eliminar</a></td>
        </tr>
      {% endfor %}
    </tbody>
      </table>
   
<br><br><br>

</div>
{% endblock %}

{% block pagination %}{% endblock %}