﻿{% extends "admin/change_list.html" %}
  
  {% block extrastyle %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% endblock %}

{% block result_list %}
<ul class="object-tools initialized">
    <li><a href="../registro/import/" class="addlink">Importar</a></li>
  </ul>
<div class=”results” style="color:black">
    <table>
    <thead>
      <tr>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Empleado</a>
          </div>
        </th>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Departamento</a>
          </div>
        </th>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Nombre</a>
          </div>
        </th>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Día/Hora</a>
          </div>
        </th>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Entra/Sale</a>
          </div>
        </th>
      </tr>
    </thead>
    <!--Muestro ordenados por fecha de ultimo pago, resaltando en amarillo los que no esten al diaS-->
    {% for reg in registros %}
      <tr>
        <td style="text-align: center">{{reg.empleado}}</td>
        <td style="text-align: center">{{reg.departamento}}</td>
        <td style="text-align: center">{{reg.nombre}}</td>
        <td style="text-align: center">{{reg.id}}</td>
        <td style="text-align: center">
        	{%ifequal reg.tipoES "C/In" %} Entró {%endifequal%}
        	{%ifequal reg.tipoES "C/Out" %} Salió {%endifequal%}</td>
      </tr>
    {% endfor %}
  </table>
   
</div>
{% endblock %}

{% block pagination %}{% endblock %}