{% extends "admin/change_list.html" %}
  
  {% block extrastyle %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% endblock %}

  {% block result_list %}
    <table class="table">
        <thead>
                <th style="text-align: center">
                <div class=”text”>
                  <a href=”#”>Fecha</a>
                </div>
              </th>
              <th style="text-align: center">
                <div class=”text”>
                  <a href=”#”>Colaborador</a>
                </div>
              </th>
              <th style="text-align: center">
                <div class=”text”>
                  <a href=”#”>Periodo</a>
                </div>
              </th>
              <th style="text-align: center">
                <div class=”text”>
                  <a href=”#”>Tipo de Pago</a>
                </div>
              </th>
              <th style="text-align: center">
                <div class=”text”>
                  <a href=”#”>Monto ($)</a>
                </div>
              </th>
              <th style="text-align: center"></th>
              <th style="text-align: center"></th>
            </tr>
          </thead>
          <tbody>
          {% for pago in pagosColaborador %}
            <tr>
              <td style="text-align: center"> {{pago.fecha}}</td>
              <td style="text-align: center"> {{pago.colaborador.apellido}}, {{pago.colaborador.nombre}}</td>
              <td style="text-align: center">
              {% ifequal pago.periodo.month 1 %} ENERO  {% endifequal %}
              {% ifequal pago.periodo.month 2 %} FEBRERO  {% endifequal %}
              {% ifequal pago.periodo.month 3 %} MARZO  {% endifequal %}
              {% ifequal pago.periodo.month 4 %} ABRIL  {% endifequal %}
              {% ifequal pago.periodo.month 5 %} MAYO  {% endifequal %}
              {% ifequal pago.periodo.month 6 %} JUNIO  {% endifequal %}
              {% ifequal pago.periodo.month 7 %} JULIO  {% endifequal %}
              {% ifequal pago.periodo.month 8 %} AGOSTO  {% endifequal %}
              {% ifequal pago.periodo.month 9 %} SEPTIEMBRE  {% endifequal %}
              {% ifequal pago.periodo.month 10 %} OCTUBRE  {% endifequal %}
              {% ifequal pago.periodo.month 11 %} NOVIEMBRE  {% endifequal %}
              {% ifequal pago.periodo.month 12 %} DICIEMBRE  {% endifequal %}
              {{pago.periodo.year}}</td>
              <td style="text-align: center">{{pago.colaborador.tipo}}</td>
              <td style="text-align: center">{{pago.monto}}</td>
              <td><a href="../pago/{{pago.id}}/change/"><i class="fas fa-pen"></i></a></td>
              <td><a href="../pago/{{pago.id}}/delete/"><i class="fas fa-close"></i></a></td>
            </tr>
          {% endfor %}
        </tbody> 
        </table>
    </div>
{% endblock %}

{% block pagination %}{% endblock %}