{% extends "admin/change_list.html" %}
  
  {% block extrastyle %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% endblock %}
  

{% block result_list %}
<a> Socios Particulares </a>
<div class=”results”>
    <table class="table table-hover">
    <thead>
      <tr>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Nombre</a>
          </div>
        </th>
        <th style="text-align: center">
            <div class=”text”>
              <a href=”#”>DNI</a>
            </div>
        </th>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Dirección</a>
          </div>
        </th>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Telefono</a>
          </div>
        </th>
        <th style="text-align: center">
            <div class=”text”>
              <a href=”#”>Tipo de Pago</a>
            </div>
          </th>
      </tr>
    </thead>
    {% for colaborador in colaboradores %}
    <tr>
      <td style="text-align: center"><a href="../colaborador/{{colaborador.id}}/change/" style="color:black">{{colaborador.apellido}}, {{colaborador.nombre}}</a></td>
      <td style="text-align: center">{{colaborador.dni}}</td>
      <td style="text-align: center">{{colaborador.direccion}}</td>
      <td style="text-align: center">{{colaborador.telefono}}</td>
      <td style="text-align: center">{{colaborador.tipo}}</td>
    </tr>
  {% endfor %}
  </table>
<br><br><br>

</div>
{% endblock %}

{% block pagination %}{% endblock %}