﻿{% extends "admin/change_list.html" %}
  
  {% block extrastyle %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% endblock %}

{% block result_list %}
<div>
  <u><i><h1 style="text-align:center; color:black">CONTRIBUCIONES PERCIBIDAS</h1></i></u>
  <canvas id="myChart"></canvas>
</div>
  <script type="text/javascript">
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',
  
        // The data for our dataset
        data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio','Agosto','Septiembre', 'Octubre','Noviembre', 'Diciembre'],
            datasets: [{
                label: 'Pagos acumulados [$]',
                backgroundColor: 'blue',
                borderColor: 'grey',
                data: [{% for i in sumaPagosMensuales%} {{i}}{%if i != 11 %},{%endif%}  {%endfor%}]
            }]
        },
  
        // Configuration options go here
        options: {}
    });
  </script>
  <br>
  <br>

<div class=”results” style="color:black">
    <table>
    <thead>
      <tr><th> Socios Particulares </th></tr>
      <tr>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Colaborador</a>
          </div>
        </th>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Pago Mes</a>
          </div>
        </th>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Meses Adeudados</a>
          </div>
        </th>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Acción</a>
          </div>
        </th>
      </tr>
    </thead>
    <!--Muestro ordenados por fecha de ultimo pago, resaltando en amarillo los que no esten al diaS-->
    {% for pago in pagos %}
      {%if pago.adeuda != 0 %} 
      <tr>
        <td style="text-align: center"><a href="../colaborador/{{pago.colaborador.id}}/change/" style="color:black">{{pago.colaborador.apellido}}, {{pago.colaborador.nombre}}</a></td>
        <td style="text-align: center">
        {% ifequal pago.fecha.month 1 %} ENERO  {% endifequal %}
        {% ifequal pago.fecha.month 2 %} FEBRERO  {% endifequal %}
        {% ifequal pago.fecha.month 3 %} MARZO  {% endifequal %}
        {% ifequal pago.fecha.month 4 %} ABRIL  {% endifequal %}
        {% ifequal pago.fecha.month 5 %} MAYO  {% endifequal %}
        {% ifequal pago.fecha.month 6 %} JUNIO  {% endifequal %}
        {% ifequal pago.fecha.month 7 %} JULIO  {% endifequal %}
        {% ifequal pago.fecha.month 8 %} AGOSTO  {% endifequal %}
        {% ifequal pago.fecha.month 9 %} SEPTIEMBRE  {% endifequal %}
        {% ifequal pago.fecha.month 10 %} OCTUBRE  {% endifequal %}
        {% ifequal pago.fecha.month 11 %} NOVIEMBRE  {% endifequal %}
        {% ifequal pago.fecha.month 12 %} DICIEMBRE  {% endifequal %}
        {{pago.fecha.year}}</td>
        <td style="text-align: center">
            {%if pago.adeuda > 0%} {{pago.adeuda}} {%if pago.adeuda == 1 %} MES {% else %} MESES {%endif%} {%else%} AL DÍA {%endif%}
        </td>
        <td><a href="../pago/add/" style="color:black">agregar</a></td>
      </tr>
      {%endif%}
    {% endfor %}
    <!--Ahora muestro en rojo al final, los colaboradores que no han aportado-->
    {% for col in noColaboraron %}
      <tr {%if pago.adeuda != 0 %} style="background-color: yellow; ;  font-weight: bold; " {%endif%}>
        <td style="text-align: center"><a href="../colaborador/{{col.id}}/change/" style="color:black;  font-weight: bold; ">{{col.apellido}}, {{col.nombre}}</a></td>
        <td style="text-align: center"> - </td>
        <td style="text-align: center">NO COLABORO</td>
        <td><a href="../pago/add/" style="color:black">agregar</a></td>
      </tr>
    {% endfor %}
  </table>
<br><br><br>
   
    <table>
    <thead>
      <tr><th> Socios Protectores </th></tr>
      <tr>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Colaborador</a>
          </div>
        </th>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Pago Mes</a>
          </div>
        </th>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”>Meses Adeudados</a>
          </div>
        </th>
        <th style="text-align: center">
          <div class=”text”>
            <a href=”#”></a>
          </div>
        </th>
      </tr>
    </thead>
    <!--Muestro ordenados por fecha de ultimo pago, resaltando en amarillo los que no esten al diaS-->
    {% for pago in pagosProtectores %}
    {%if pago.adeuda != 0 %}
      <tr>
        <td style="text-align: center"><a href="../colaborador/{{pago.colaborador.id}}/change/" style="color:black">{{pago.protector.nombre}}</a></td>
        <td style="text-align: center">
        {% ifequal pago.fecha.month 1 %} ENERO  {% endifequal %}
        {% ifequal pago.fecha.month 2 %} FEBRERO  {% endifequal %}
        {% ifequal pago.fecha.month 3 %} MARZO  {% endifequal %}
        {% ifequal pago.fecha.month 4 %} ABRIL  {% endifequal %}
        {% ifequal pago.fecha.month 5 %} MAYO  {% endifequal %}
        {% ifequal pago.fecha.month 6 %} JUNIO  {% endifequal %}
        {% ifequal pago.fecha.month 7 %} JULIO  {% endifequal %}
        {% ifequal pago.fecha.month 8 %} AGOSTO  {% endifequal %}
        {% ifequal pago.fecha.month 9 %} SEPTIEMBRE  {% endifequal %}
        {% ifequal pago.fecha.month 10 %} OCTUBRE  {% endifequal %}
        {% ifequal pago.fecha.month 11 %} NOVIEMBRE  {% endifequal %}
        {% ifequal pago.fecha.month 12 %} DICIEMBRE  {% endifequal %}
        {{pago.fecha.year}}</td>
        <td style="text-align: center">
            {%if pago.adeuda > 0%} {{pago.adeuda}} {%if pago.adeuda == 1 %} MES {% else %} MESES {%endif%} {%else%} AL DÍA {%endif%}
        </td>
       
      </tr>
      {%endif%}
    {% endfor %}
    <!--Ahora muestro en rojo al final, los colaboradores que no han aportado-->
    {% for col in ProtectoresnoColaboraron %}
      <tr {%if pago.adeuda != 0 %} style="background-color: yellow; ;  font-weight: bold; " {%endif%}>
        <td style="text-align: center"><a href="../colaborador/{{col.id}}/change/" style="color:black;  font-weight: bold; ">{{col.apellido}}, {{col.nombre}}</a></td>
        <td style="text-align: center"> - </td>
        <td style="text-align: center">NO COLABORO</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}